books
latex-notes/elegantbook_template.pdf
latex-notes/notes/main.aux
latex-notes/notes/main.bbl
latex-notes/notes/main.bcf
latex-notes/notes/main.blg
latex-notes/notes/main.fdb_latexmk
latex-notes/notes/main.fls
latex-notes/notes/main.log
latex-notes/notes/main.out
latex-notes/notes/main.run.xml
latex-notes/notes/main.synctex.gz
latex-notes/notes/main.toc